<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIC Docker Workshop</title>
</head>
<body>

    
    <form action="/submit" method="POST">
        <h3>WIC Docker Workshop</h3>
        <label for="note">Write down one thing you learned at this workshop!</label><br><br>
        <textarea id="note" name="note" rows="5" cols="50" required></textarea><br><br>
        
        <button type="submit">Submit</button>
    </form><br>

    <a href="/notes">View Submitted Notes</a>
</body>
</html>
